In [76]:
import time
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv('C:\\Users\Avi\\Downloads\\cookie_cats.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

## Get version data %

In [11]:
df.drop_duplicates(subset = 'version')

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
2     377  gate_40             165         True        False

In [43]:
version = df['version'].value_counts()

In [41]:
version_total = df.count()

In [46]:
version_total = version_total['version']

In [62]:
percentage = round(((version/version_total) * 100),1)

In [63]:
percentage

gate_40    50.4
gate_30    49.6
Name: version, dtype: float64

## Check % of sum_gamerounds based on game version

In [79]:
total_sum_gr = df['sum_gamerounds'].sum()

In [81]:
df.groupby('version').mean()
(df.pivot_table(index = 'version',  values = 'sum_gamerounds', aggfunc = np.sum) / total_sum_gr) * 100

         sum_gamerounds
version
gate_30       50.120396
gate_40       49.879604